<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MaXoft</title>
</head>
<body>
    @RenderBody()
    <script src="@Url.Content("~/Scripts/app.js")"></script>
    @RenderSection("Scripts", false/*required*/)
</body>
</html>
